__pycache__/
*.py[cod]
*.cpython-*.pyc
*/*.cpython-*.pyc


# Weights & Biases
wandb/

# Scene data directories
scene[0-9]*_[0-9]*

poc/
poc2/
poc3/

.chorus-venv/
chorus/logs/

chorus/datasets/scannetpp/data_download/